__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.env
.venv/
dist/
build/
*.qrc
*.pyc
app/views/*_ui.py
.idea/
exampleConfigs/
inputData/
scripts/
*.TRACE
*.DS_Store
app/resources/*.yaml

# Test output files
tests/resources/outputData/
tests/resources/inputData/

# Data files that should not be tracked
*.rnx.gz
*.clk.Z
*.sp3.Z
*.txt
*.grd.gz
*.atx
*.snx
*.snx.gz
DE436.*
emr*
finals.data.*
gpt_*
igrf*
igs*
ngs*
opole*
sat_yaw*
